/* 
    Document   : main
    Created on : Jul 18, 2013, 1:14:20 PM
    Author     : Vu Dang Tung
    Description:
    Purpose of the stylesheet follows.
*/

#content
{
    padding: 20px;
    width: 80%;
    margin: auto;
}

.container {
    width: 90% !important;
}

#footer
{
    padding-bottom: 0;
    margin: 10px 0px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}
.clear{
    height: 50px;
}

.navbar-inverse .brand {
    color: white;
    font-weight: bold;
}
.navbar-inverse .navbar-inner {
    background: #3B5998;
    border: 1px solid #3B5998;
}

.navbar-inverse .navbar-search .search-query {
    background: white;
    color: black;
    boder: 1px solid #3B5998;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
    background: #3B5998;
}