/* 
    Document   : main
    Created on : Jul 18, 2013, 9:42:08 AM
    Author     : Nguyen Trung Quan
    Description:
        Purpose of the stylesheet follows.
*/

#content
{
    padding: 20px;
}

#footer
{
    padding-bottom: 0;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}