/* 
    Document   : main
    Created on : Jul 18, 2013, 1:14:20 PM
    Author     : Vu Dang Tung
    Description:
    Purpose of the stylesheet follows.
*/
html 
{
    height: 100%;
}

body
{
    height: 100%;
}

#page
{
    height: 100%;
}

#mainmenu
{
    height: 40px; 
}

.main-page
{    
    position: relative;        
    width: 85%;    
    height: 100%;
    margin: auto;
}

#main-content
{    
    width: 75%;
    float: left;
    height: 100%;        
    border-bottom: none;
}

#stream 
{
    width: 20%;        
    height: 100%;    
    border: #C9E0ED solid 1px;
    border-bottom: none;
    position:fixed;
    top: 40px;
    right: 5%;
    border-left-color: rgb(178, 185, 201);
    border-left-width: 1px;
    border-right-color: rgb(178, 185, 201);
    border-right-width: 1px;
    box-shadow: rgb(178, 185, 201) 2px 0px 2px -2px inset;
    overflow-y: scroll;
    padding-bottom: 30px;
}


.container 
{
    width: 90% !important;
}

#footer
{
    margin-top: 40px;
    padding-bottom: 0;    
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

.clear{
    height: 50px;
}

.navbar-inverse .brand {
    color: white;
    font-weight: bold;
}
.navbar-inverse .navbar-inner {
    background: #3B5998;
    border: 1px solid #3B5998;
}

.navbar-inverse .navbar-search .search-query {
    background: white;
    color: black;
    boder: 1px solid #3B5998;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
    background: #3B5998;
}

a {
    color: rgb(59, 89, 152);
}