/* 
    Document   : style
    Created on : Jul 18, 2013, 3:29:01 PM
    Author     : Nguyen Trung Quan
    Description:
        Purpose of the stylesheet follows.
*/

div.none { 
    height: 30px;
}
#poll_type_content, #display_type_content,
#result_display_type_content, #result_detail_type_content,
#result_show_time_type_content, #is_multichoice_content {
    color: blue;
}

span.poll_note {
    color: rgb(128, 128, 128);
    font-size: 0.9em;
}

span.poll_link {
    font-weight: bold;
}

.home-content{
    width: 90%;
    margin: 10px;
    background: white;
}

.side-right {
    float: right;
    width: 30%;
    background: red;
}

.cell_poll{
    background: #FFFFFF;
    width: 80%;
}

.comment{
    background: #EDEFF4;
    margin-bottom: 2px;
    margin-left: 00px;
}

.comment_children{
    background: #EDEFF4;
    margin-bottom: 2px;
    margin-left: 60px;
}

.comment_area{
    width: 70%;
}

.user_comment{
    font-weight: bold;
    color: #0066ff;
    margin-right: 5px;
}

.user_vote{
    color: #0066ff;
    margin-left: 5px;
    background: #EEEEEE;
    padding-left: 5px;
    padding-right: 5px;
}

.time_update{
    float: left;
    margin-right: 10px;
    font-size: 85%;
    color: #777777;
}

.clear2 {
    clear: both;
}

.cb {
    float: left;
}

.bar_choice{
    float: left;
    width: 50%;
    position: relative;
    margin-bottom: 10px;
    border:1px #FFBBBB solid;
    margin-right: 5px;
    height: 35px;
}

.content_choice{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
}

.btn_comment{
    color: #0066ff;
}

.type_new_choice{
    width: 100%;
    height: 100%;
}

.type_new_comment{
    width: 98%;
}

.poll-summary {
    margin-top: -9px !important;    
    color: rgb(51, 51, 51);
    border-radius: 0px;
    border-color: rgb(216, 223, 234);       
    border-width: 0px;
    border-bottom-width: 1px;
}

.poll-end {
    background-color: rgb(210, 210, 210);
}

.poll-running {
    background-color: rgb(230, 230, 230);
}

.poll-notstart {
    background-color: rgb(250, 250, 250);
}

.stream-item {
    margin-top: -20px;
    background-color: #F2F4F8;
    color: rgb(51, 51, 51);
    border-radius: 0px;
    border-color: rgb(216, 223, 234);       
    border-width: 0px;
    border-bottom-width: 1px;
}

.stream-item a {    
    font-weight: bold;
}


.stream-item:first-child {
    margin-top: 0px;
}

.content-item {
    margin-top: -20px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border-radius: 0px;
    border-color: rgb(216, 223, 234);       
    border-width: 0px;
    border-bottom-width: 1px;
}

.poll-hints {
    margin-top: 30px; 
}

.more {
    cursor: pointer;
}

.ajax-loading {
    padding: 10px 0px;    
    background-color: #EDEFF4;
    margin: auto;
}

.ajax-loading-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.a-comment {
    background-color: #EDEFF4;
    padding: 5px;    
}

.comment-textarea {    
    resize: none;    
    border-radius: 0px;
    margin-bottom: 0px;
}