/* 
    Document   : style
    Created on : Jul 18, 2013, 3:29:01 PM
    Author     : Nguyen Trung Quan
    Description:
        Purpose of the stylesheet follows.
*/

div.none { 
    height: 30px;
}
#poll_type_content, #display_type_content, #result_display_type_content,
    #result_detail_type_content, #result_show_time_type_content {
        color: blue;
}