/* 
    Document   : style
    Created on : Jul 18, 2013, 3:29:01 PM
    Author     : Nguyen Trung Quan
    Description:
        Purpose of the stylesheet follows.
*/

div.none { 
    height: 30px;
}
#poll_type_content, #display_type_content,
#result_display_type_content, #result_detail_type_content,
#result_show_time_type_content, #is_multichoice_content {
    color: blue;
}

span.poll_note {
    color: #808080;
    font-size: 12px;
}

span.user_poll a{
    font-size: 14px;
    color: red;
}

/*
 * @author Pham Tri Thai
 * Style sheet for home page
 */
.home-content{
    width: 90%;
    margin: 10px;
    background: white;
}

.side-right {
    float: right;
    width: 30%;
    background: red;
}

.cell_poll{
    background: #FFFFFF;
    width: 80%;
}

.comment{
    background: #EDEFF4;
    margin-bottom: 2px;
    margin-left: 00px;
    width: 100%;
}

.comment_children{
    background: #EDEFF4;
    margin-bottom: 2px;
    margin-left: 60px;
}

.user_poll{
    font-weight: bold;
    font-size: 125%;
    color: #0066ff;
    margin-right: 5px;
}

.user_comment{
    font-weight: bold;
    color: #0066ff;
    margin-right: 5px;
}

.user_vote{
    color: #0066ff;
    margin-left: 5px;
    background: #EEEEEE;
    padding-left: 5px;
    padding-right: 5px;
}

.time_update{
    float: left;
    margin-right: 10px;
    font-size: 85%;
    color: #777777;
}

.clear2 {
    clear: both;
}

.cb {
    float: left;
}

.bar_choice{
    float: left;
    width: 50%;
    position: relative;
    margin-bottom: 10px;
    border:1px #FFBBBB solid;
    margin-right: 5px;
    height: 35px;
}

.content_choice{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.btn_comment{
    color: #0066ff;
}

.type_new_choice{
    width: 100%;
    height: 100%;
}

.type_new_comment{
    width: 98%;
}