<div id="<%= id %>" class="well well-small" data-choice_id="<%= choice_id %>">
    <%= choice_content %>
    <button class="close close_choice" data-choice_id="<%= choice_id %>">
        &times;
    </button>
</div>