<div class='comment'>
     <div class='user_comment'>
        <%= profile_link %>
     </div>
     <%= content %>
    <br/>
    <div class='time_update'><%= created_at %></div>
    <div class='btn_comment'><%= link_to('Comment','#')%></div>
    <div class='clear2'></div>
</div>