<div class="<%= class_name %>">
    <div class='user_comment'>
        <%= link_to(profile_name, 'index.php?r=profile/view&id=' + profile_id) %>
    </div>
    <%= comment_content %>
    <br/>
    <div class='time_update'>
        <%= created_at %>
    </div>
    <div class='clear2'>
    </div>
</div>