<div class="row">
    <div class="a-comment span7">
        <textarea class ="span12 comment-textarea"
            placeholder="Write a comment..." rows="1"
            id="comment_input_<%= id %>" data-parent_id="<%= id %>" wrap="off" style="overflow:hidden"></textarea>
    </div>
</div>