<div class='comment_children'>
    <div class='user_comment'>
       <%= link_to(profile_name, 'index.php?r=profile/view&id='+profile_id)%>
    </div>
    <div class="wrap_text">
        <%= content%>
    </div>    
    <div class="time_update">
        <i><span class="human-time" changed="1" created_at="<%=created_at%>" ><%= human_time %></span></i>
    </div>
    <div class='clear2'>
    </div>
</div>